{% block form_errors %}
    {% if errors|length > 0 %}
        <div class="alert alert-danger mb-2">
            <ul class="mb-0 ps-3">
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block form_help %}
    {% if help is not empty %}
        <div id="{{ id }}_help" class="text-muted fst-italic">
            {{ help|trans(help_translation_parameters, translation_domain)|raw }}
        </div>
    {% endif %}
{% endblock %}
