{% extends 'base.html.twig' %}

{% block title %}{{ 'association.add.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'association.add.title'|trans }}</h1>

    {% include 'association/form.html.twig' with {formAssociation: form} %}

    <hr>

    <a href="{{ path('homepage') }}" class="btn btn-secondary">
        <i class="fa fa-arrow-left"></i>&nbsp;{{ 'association.add.cancel'|trans }}
    </a>
{% endblock %}
