<div class="pt-2">
    <select class="form-select" id="eventsViewSelector">
        <option value="mosaic">{{ 'home.events.selector.mosaic'|trans }}</option>
        <option value="list">{{ 'home.events.selector.list'|trans }}</option>
        <option value="calendar">{{ 'home.events.selector.calendar'|trans }}</option>
    </select>
</div>
