<div class="pt-2">
    <select class="form-select" id="eventsViewSelector">
        <option value="mosaic">Vue mosaïque</option>
        <option value="list">Vue liste</option>
        <option value="calendar">Vue calendrier</option>
    </select>
</div>
