{% extends 'base.html.twig' %}

{% block title %}Événements à venir{% endblock %}

{% block body %}
    <h1>Événements à venir</h1>

    {% if events is not empty %}
        {% include 'event/_list.html.twig' with {events: events} %}
    {% else %}
        <p class="text-muted">Aucun événement prévu.</p>
    {% endif %}
{% endblock %}
