<?php

// Local data
putenv('DEPLOY_IDENTITY_FILE=/home/user/.ssh/id_rsa');
putenv('DEPLOY_KNOWN_HOSTS=/home/user/.ssh/known_hosts');
putenv('DATABASE_HOST=127.0.0.1');
putenv('DATABASE_NAME=dbname');
putenv('DATABASE_USER=dbuser');
putenv('DATABASE_PASSWORD=dbpassword');

// Remote servers data, defaults to preprod
$remote = getenv('REMOTE') ?: 'preprod';
$secrets = [
    'preprod' => [
        'DEPLOY_HOST' => '111.222.333.444',
        'DEPLOY_USER' => 'username',
        'DEPLOY_PATH' => '=/var/www/public_html',
        'DEPLOY_PORT' => '22',
    ],
];

foreach ($secrets[$remote] as $key => $value) {
    if (null !== $value) {
        putenv("$key=$value");
    }
}
