{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur {{ user.email }}{% endblock %}

{% block body %}
    <h1>Modifier l'utilisateur {{ user.email }}</h1>

    {% include 'user/form.html.twig' %}
{% endblock %}
