@import "bootstrap/scss/functions";
@import 'shepherd.js/dist/css/shepherd.css';

$warning: #F39200FF;
$success: #2BB989;
$danger: #EA5188FF;
$info: #A169CCFF;
$primary: #077C5DFF;
$default: #EAEAEA;

.btn-info:hover {
    background-color: $info !important;
    opacity: .9 !important;
}

.background-default {
    background-color: $default !important;
}

@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/bootstrap";

@import "tom-select/dist/scss/tom-select.bootstrap5";

body {
    background-color: #fbfaf9;
}

@media (min-width: 768px) {
    #searchBar {
        min-width: 300px;
    }
}

.navbar-nav > li.nav-item:hover {
    background-color: var(--bs-border-color);
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.masonry {
    column-count: 2;   /* ou 3 selon largeur */
    column-gap: 1rem;

    .col {
        display: inline-block; /* pour que les blocs s’empilent correctement */
        width: 100%;

        .wip {
            background-color: $default;

            svg {
                width: 20px;
            }
        }
    }
}

@media (max-width: 768px) {
    .masonry {
        column-count: 1;
    }
}

#searchDropdown::after {
    display: none;
}

#searchDropdownContent {
    width: 500px;
}

.table-diff {
    td {
        vertical-align: top;
        white-space: pre-wrap; /* conserve les retours ligne */
    }

    .text-danger {
        background-color: $danger;
        display: inline-block;
        padding: 0.2rem 0.4rem;
        border-radius: 0.25rem;
    }

    .text-success {
        background-color: $success;
        display: inline-block;
        padding: 0.2rem 0.4rem;
        border-radius: 0.25rem;
    }
}

[data-events] {
    a.position-absolute {
        right: 10px;
        top: 10px;
    }
    @media (max-width: 768px) {
        img {
            display: none;
        }
    }
}

[data-events="list"] {
    position: relative;
    max-height: 300px;
    overflow: auto;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        img {
            max-width: 100%;
        }
    }

    &.scroll-wrapper::after {
        content: '';
        position: sticky;
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        height: 24px;
        margin-top: -24px;
        pointer-events: none;
        background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.25));
        z-index: 1;
    }
}

.calendar {
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    background-color: #ffffff;
    color: #333333;

    @media (min-width: 768px) {
        height: 400px;
    }

    h3, h4 {
        font-weight: 300;
        font-size: 26px;
        line-height: 28px;
        text-transform: uppercase;
        margin: 0 0 20px 0;
    }

    h3 span {
        display: block;
    }

    @media (min-width: 768px) {
        .col {
            float: left;
            height: 100%;
        }
    }

    ul {
        margin: 0;

        li {
            list-style: none;
        }
    }

    .leftCol {
        background-color: $info;

        @media (min-width: 768px) {
            width: 40%;
        }

        .content {
            overflow-y: scroll;
            max-height: 100%;

            .event-list {
                h4 {
                    text-transform: none;
                }
            }
        }
    }

    .rightCol {
        font-size: 12px;

        @media (min-width: 768px) {
            width: 60%;
            font-size: 16px;
        }

        .weekday, .days {
            li {
                width: 14%;
                float: left;
                text-transform: uppercase;
            }

            a {
                display: block;
                color: #747978;
                text-align: center;
                font-weight: bold;
            }
        }

        .weekday {
            margin-bottom: 20px;
        }

        .days li {
            width: 14%;
            padding: 10px;

            a {
                width: 50px;
                height: 35px;
                text-align: center;
                font-weight: bold;
                border-radius: 5px;
                margin: auto;
                padding: 5px;

                &:hover {
                    background-color: #EEEDE9;
                }

                &.selected {
                    background-color: $warning !important;
                    color: white;
                }
                &.event-link {
                    text-decoration: none;
                    font-weight: normal;

                    &.has-element {
                        font-weight: bold;
                        background-color: $info;
                        color: white;
                    }
                }
            }

            .event {
                color: $warning;
            }
        }
    }
}

[data-route="association_show"] {
    @media (max-width: 768px) {
        .img-thumbnail {
            max-width: 100%;
            max-height: 200px;
        }
    }
    .list-future-events {
        li:hover {
            background-color: $default;
        }
    }
}

[data-route="association_edit"] {
    .img-thumbnail {
        max-width: 200px;
        max-height: 200px;
    }
    .remove-contact {
        position: absolute;
        right: 0;
        width: auto;
        top: 50%;
        cursor: pointer;
    }
}

[data-route="event_show"] {
    .card-header p {
        margin-bottom: 0;
    }
}

.embla {
    max-width: 100%;
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 50%;
    @media (max-width: 768px) {
        --slide-size: 100%;
    }
    position: relative;

    .embla__viewport {
        overflow: hidden;

        .embla__container {
            display: flex;
            touch-action: pan-y pinch-zoom;
            margin-left: calc(var(--slide-spacing) * -1);

            .embla__slide {
                transform: translate3d(0, 0, 0);
                flex: 0 0 var(--slide-size);
                min-width: 0;
                padding-left: var(--slide-spacing);
            }
        }
    }
    .embla__button {
        -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;
        touch-action: manipulation;
        text-decoration: none;
        cursor: pointer;
        border: 0;
        padding: 0;
        margin: 0;
        box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
        width: 3.6rem;
        height: 3.6rem;
        z-index: 1;
        border-radius: 50%;
        color: var(--text-body);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 65px;

        &.embla__button--prev {
            left: -50px;
        }
        &.embla__button--next {
            right: -50px;
        }

        .embla__button__svg {
            width: 35%;
            height: 35%;
        }
    }
}

.shepherd-container {
    max-width: 600px;

    &[data-popper-placement="right"] {
        margin-left: 10px;
    }
    &[data-popper-placement="top"] {
        margin-top: -10px;
    }
    &[data-popper-placement="bottom"] {
        margin-top: 10px;
    }
    &[data-popper-placement="left"] {
        margin-left: -10px;
    }

    .shepherd-content {
        .shepherd-header {
            background: var(--bs-info-bg-subtle);

            .shepherd-title {
                font-size: 1.75rem !important;
            }
        }
    }
}

.shepherd-modal-overlay-container.shepherd-modal-is-visible {
    opacity: .3 !important;
}

.hoverable:hover {
    background-color: $default;
}

.poster-preview {
    max-height: 200px;
    max-width: 100%;
}

@media (max-width: 768px) {
    .flex-column-sm {
        flex-direction: column;
    }
}
