{% extends 'base.html.twig' %}

{% block title %}{{ 'user_subscriptions.title'|trans }}{% endblock %}

{% block body %}
    <div class="p-3 mb-4 bg-white rounded-3 border">
        <div class="container-fluid py-3">
            <h1 class="fw-bold">{{ 'user_subscriptions.title'|trans }}</h1>
            <p>
                TODO
            </p>
        </div>
    </div>
{% endblock %}
